@import "../../sass/variables";

.filter-bar {
  display: flex;
  flex-direction: column;
  width: 217px;
}

@media screen and (max-width: 1000px) {
  .filter-bar {
    display: none;

    &_hidden {
      position: relative;
      width: 342px;
      display: flex;
      background-color: #262626;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      overflow-y: scroll;
    }

    &__header {
      min-height: 94px;
      background-color: $color-grey;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 6px;
    }

    &__btn {
      align-self: center;
      width: 278px;
      min-height: 41px;
      background-color: $color-orange;
      color: $color-text;
      border-radius: 40px;
      border: none;
      margin: 24px 0;
    }

    &__reset {
      align-self: center;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      margin: 0;
      padding: 0;
      color: #707070;
      margin-bottom: 24px;
    }
  }
}
