.App {
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.container {
  // correct
  width: 1181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid green;
}
