@import "../../sass/variables";

.title {
  position: relative;
  font-style: normal;
  font-weight: 700;

  &__text {
    font-size: 36px;
    line-height: 130%;
    margin: 0;
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 147px;
    font-size: 16px;
    line-height: 130%;
    color: $color-orange;
  }
}
